<!doctype html>
<title>NBA Commentary Speech to Text</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>NBA Commentary Speech to Text</h1>
  <div class=metanav>
    <a href="/stream">Audio Streaming</a>
  </div>
Please Start Speaking:



  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<footer>
  <p><small>Hack the North 2018</small></p>
  <p><small>Contact information: <a href="mailto:jz2997@columbia.edu">jz2997@columbia.edu</a>.</small></p>
</footer>

</div>